<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Liked</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
    </style>
  </head>

  <body>
    <header><%- include('./header'); %></header>
    <h1 class="CenterText">Liked profiles</h1>
    <% if (likesList.length === 0) { %>
    <p class="CenterText">
      You haven't liked any profiles, you can like profiles
      <a href="/index">here</a>
    </p>
    <% } else { %>

    <section class="LikedListContainer">
      <table class="TableSpacing">
        <%likesList.forEach(likes => {%>
        <tr class="trLike">
          <td class="tdLike">
            <img
              class="ProfilePicture"
              src="/public/images/<%= likes.name %>.jpg"
            />
          </td>
          <td class="tdLike"><%= likes.name %>, <%= likes.age %></td>
          <td class="tdLike">
            <a href="/like/<%= likes._id %>"
              ><img class="LikedListIcon" src="/public/images/SkipIcon.png"
            /></a>
          </td>
          <td class="tdLike">
            <a href="/chat"
              ><img class="LikedListIcon" src="/public/images/ChatIcon.png"
            /></a>
          </td>
        </tr>
        <%})%>
      </table>
    </section>
    <% } %> <%- include('./footer'); %>
  </body>
</html>
